{% extends 'base.html' %}

{% block title %}TODO{% endblock %}

{% block content %}
<h1>Todo List</h1>
<form action="/todo/add" method="post">
    <input type="text" name="description" placeholder="内容">
    <input type="date" name="deadline">
    <input type="submit" value="追加">
<table>
    <tr>
        <th>内容</th>
        <th>期限</th>
        <th>チェック</th>
    </tr>
    {% for todo in todos %}
        <tr>
            <td>{{ todo.description }}</td>
            <td>{{ todo.deadline }}</td>
            <td><input type="checkbox" {% if todo.status %}checked{% endif %}></td>
        </tr>
        </tr>
    {% endfor %}
</table>
{% endblock %}